.footer {
  display: flex;
  max-width: $moveWigth;
  width: 100%;
  justify-content: flex-end;
  color: $colorWigth;
  font-family: $fontFamily1;
  font-size: 14px;
  line-height: 21px;
  padding: 23px 0 21px 0;

  &__info {
    @include rowDirection();
    width: 416px;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    color: $colorWigth;
    cursor: pointer;
    text-decoration: none;
  }
}

@media all and (max-width: 910px) {
  .footer {
    max-width: $moveWigth910;
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0 18px 0;

    &__info {
      @include rowDirection();
      width: 312px;
    }
  }
}
@media all and (max-width: 768px) {
  .footer {
    max-width: $moveWigth768;
    font-size: 10px;
    line-height: 18px;
    padding: 20px 0 18px 0;

    &__info {
      @include rowDirection();
      width: 250px;
    }
  }
}
