.header {
  max-width: 1141px;
  width: 100%;
  height: $moveHeigth;
  @include rowDirection();
  justify-content: space-between;
  background-size: $moveWigth $moveHeigth;
  background: url('../../images/dest/Layer 0@1X.jpeg') center no-repeat;

  &__about {
    @include columnDirection();
    align-items: flex-start;
    max-width: 300px;
    text-align: left;
  }
  &__title {
    @include headerTitle();
    font-size: 100px;
    line-height: 100px;
    margin: 0;
  }
  &__subtitle {
    font-size: 40px;
    @include headerTitle();
    margin: 0;
    padding: 0;
    &_color {
      position: relative;
      color: $colorPink;
      animation: move_bg 5s linear infinite alternate;
    }
  }
  &__main {
    @include columnDirection();
    align-items: center;
  }
  &__logo {
    width: 70px;
    height: 70px;
    margin-bottom: 9px;
    transition-property: transform;
    transition-duration: 5s;
    transition-timing-function: ease;

    &:hover {
      transform: rotate(360deg);
    }
  }
  &__navigation {
    padding-top: 30px;
    @include columnDirection();
  }
  &__button {
    @include buttonDefaultStyle();
    width: 166px;
    height: 26px;
    background-color: $colorPink;
    font-family: $fontFamily1;
    line-height: 20px;
    color: $colorWigth;
    font-size: 20px;
    padding: 5px 41px 5px 44px;
    margin-bottom: 3px;
  }
}

@media all and (max-width: 910px) {
  .header {
    height: $moveHeigth910;
    background-size: $moveWigth910 $moveHeigth910;
    
    &__title {
      font-size: 80px;
      line-height: 80px;
    }
    &__subtitle {
      font-size: 25px;
    }
    &__logo {
      width: 60px;
      height: 60px;
    }
    &__navigation {
      padding-top: 20px;
    }
    &__button {
      width: 130px;
      height: 23px;
      line-height: 18px;
      font-size: 18px;
      padding: 5px 35px 5px 35px;
    }

  }
}

@media all and (max-width: 768px) {
  .header {
    max-width: 688px;
    height: $moveHeigth768;
    background-size: $moveWigth768 $moveHeigth768;

    &__title {
      font-size: 50px;
      line-height: 50px;
    }
    &__subtitle {
      font-size: 30px;
    }
    &__logo {
      width: 35px;
      height: 35px;
      margin-bottom: 5px;
    }
    &__navigation {
      padding-top: 15px;
    }
    &__button {
      width: 83px;
      height: 13px;
      line-height: 10px;
      font-size: 10px;
      padding: 3px 21px 3px 22px;
      margin-bottom: 2px;
    }
  }
}