.slider {
  @include rowDirection();
  max-width: 685px;
  width: 100%;
  padding: 67px 33px;

  &__button {
    @include buttonDefaultStyle();
    display: flex;
    margin: auto;
    width: 43px;
    height: 35px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    &_prev {
      background-image: url('../../images/dest/prev@1X.png');
    }
    &_next {
      background-image: url('../../images/dest/next@1X.png');
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__elements {
    @include rowDirection();
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 30px;
    margin: 0;
    overflow: hidden;
  }
  &__element {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 166px;
    height: 185px;
    overflow: hidden;
    background-color: #563a3a;
  }
  &__image {
    &_1 {
      width: 348px;
      height: 184px;
    }
    &_2 {
      width: 479px;
      height: 184px;
    }
    &_3 {
      width: 290px;
      height: 184px;
    }
    &:hover {
      cursor: url('../../images/dest/zoom_1X.cur'), pointer;
      opacity: 0.5;
    }
  }
}

@media all and (max-width: 910px) {
  .slider {
    max-width: 513px;
    padding: 50px 25px;

    &__button {
      width: 30px;
      height: 30px;
      background-size: 20px 20px;
    }
    &__elements {
      padding: 0 20px;
    }
    &__element {
      width: 125px;
      height: 139px;
    }
    &__image {
      &_1 {
        width: 348px;
        height: 184px;
      }
      &_2 {
        width: 479px;
        height: 184px;
      }
      &_3 {
        width: 290px;
        height: 184px;
      }
      &:hover {
        cursor: url('../../images/dest/zoom_1X.cur'), pointer;
        opacity: 0.5;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .slider {
    max-width: 468px;
    padding: 33px 25px;

    &__button {
      width: 22px;
      height: 18px;
      background-size: 18px 18px;
    }
    &__elements {
      padding: 0 15px;
    }
    &__element {
      width: 115px;
      height: 128px;
    }
    &__image {
      &_1 {
        background-size: 180px 95px;
      }
      &_1 {
        background-size: 240px 95px;
      }
      &_1 {
        background-size: 150px 95px;
      }
    }
  }
}
