.slider {
  @include rowDirection();
  max-width: 685px;
  padding: 67px 33px;

  &__button {
    @include buttonDefaultStyle();
    display: flex;
    margin: auto;
    width: 43px;
    height: 35px;
    background-size: 35px 35px;
    align-items: center;
    justify-content: center;
    &_prev {
      background-image: url('../../images/dest/prev@1X.png');
    }
    &_next {
      background-image: url('../../images/dest/next@1X.png');
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__elements {
    @include rowDirection();
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 30px;
    margin: 0;
    overflow: hidden;
  }
  &__element {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 166px;
    height: 185px;
    overflow: hidden;
    background-color: #563a3a;
  }
  &__image:hover {
    cursor: url('../../images/dest/zoom_1X.cur'), pointer;
    opacity: 0.5;
  }
}

@media all and (max-width: 910px) {
  .slider {
    max-width: 513px;
    padding: 50px 25px;
  
    &__button {
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
    }
    &__elements {
      padding: 0 20px;
    }
    &__element {
      width: 125px;
      height: 139px;
    }
  }
}