.trailer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #563a3a;
  background-size: cover;

  &__video-play {
    @include buttonDefaultStyle();
    display: flex;
    position: absolute;
    top: $moveHeigth * 0.5 - 50px;
    right: $moveWigth * 0.5 - 50px;
    background-image: url('../../images/dest/play@1X.png');
    width: 100px;
    height: 100px;
    z-index: 4;
  }
  &__video {
    width: $moveWigth;
    height: $moveHeigth;
    opacity: 0.5;
  }
}
