.trailer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #563a3a;
  background-size: cover;

  &__video-play {
    @include buttonDefaultStyle();
    display: flex;
    position: absolute;
    top: $moveHeigth * 0.5 - 50px;
    right: $moveWigth * 0.5 - 50px;
    background-image: url('../../images/dest/play@1X.png');
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    z-index: 4;
    &:hover {
      cursor: pointer;
      animation: rotation 20s linear infinite;
    }
  }
  &__video {
    width: $moveWigth;
    height: $moveHeigth;
    opacity: 0.5;
  }
}

@media all and (max-width: 910px) {
  .trailer {
    &__video-play {
      top: $moveHeigth910 * 0.5 - 40px;
      right: $moveWigth910 * 0.5 - 40px;
      background-size: 80px 80px;
      width: 80px;
      height: 80px;
    }
    &__video {
      width: $moveWigth910;
      height: $moveHeigth910;
    }
  }
}

@media all and (max-width: 768px) {
  .trailer {
    &__video-play {
      top: $moveHeigth768 * 0.5 - 25px;
      right: $moveWigth768 * 0.5 - 25px;
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
    }
    &__video {
      width: $moveWigth768;
      height: $moveHeigth768;
    }
  }
}
