$fontFamily1: 'Helvetica Neue Cyr Thin', 'AdobeInvisFont', 'Myriad Pro Regular';
$fontFamily2: 'Bebas Neue', 'AdobeInvisFont', 'Myriad Pro Regular';
$colorPink: #e71e6e;
$colorWigth: #ffffff;
$colorGrey: #101010;
$moveWigth: 750px;
$moveHeigth: 422px;

@mixin headerTitle {
  font-family: 'Bebas Neue', 'AdobeInvisFont', 'Myriad Pro Regular';
  text-transform: uppercase;
  color: $colorWigth;
  text-align: left;
  font-style: normal;
  font-weight: normal;
}

@mixin rowDirection {
  display: flex;
  flex-direction: row;
}

@mixin columnDirection {
  display: flex;
  flex-direction: column;
}

@mixin buttonDefaultStyle {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
  }

  @keyframes move_bg {
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 30px;
        top: 30px;
    }
    50% {
        left: 60px;
        top: 0;
    }
    75% {
        left: 90px;
        top: 30px;
    }
    100% {
        left: 120px;
        top: 0;
    }
} 